.header-page {
  height: 520px;
  width: 100%;
  padding-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4056A1;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  flex-direction:column;
  color: white;
}

.last-name {
  font-weight: 300;
}

/* Adjusts header when on viewed on a desktop */
@media only screen and (min-width: 1024px) {
  .header-page {
    height: 50%;
    width: 27.3%;
    padding-top: 40px;
    margin: 3%;
    margin-top: 15%;
    float: left;
  }
}