nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed;
}

.logo {
  font-family: 'Bungee', sans-serif;
}

.fa-angles-down {
  color: red;
  display: flex;
  justify-content: center;
}

.toggle-form:hover {
  color: #FFDB58;
  cursor: pointer;
  text-shadow: 1px 1px rgb(55, 54, 54);
}
