/* Error Display Message */
.new-tweet header {
  display: none;
  color: red;
  border: 4px solid red;
  padding: 6px;
  margin-bottom: 40px;
}

/* Tweet Form Styles */
.new-tweet {
  display: none;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 40px;
}

.tweet-form {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  align-items: center;
}

#tweet-text {
  background-color: #f4f1ec;
  border-style: hidden hidden solid;
  border-width: 5px;
  border-color: #545149;
  width: 100%;
}

button {
  font-family: "Bungee", sans-serif;
  padding: 8px;
  color: white;
  background-color: #4056A1;
  border: hidden;
  font-size: 14px;
}

button:hover {
  box-shadow: 2px 2px 2px gray;
}

.counter {
  font-family: "Bungee", sans-serif;
}

.negative-counter {
  color: red;
}